{% extends "base.twig" %}

{% block content %}


            <div class="container">

                <div class="entry-list single">
                    <article>
                        <h1>{{ post.title | raw }}</h1>
                        <time datetime="{{ post.date}}">{{ post.date}}</time>
                        <div class="entry">
                            <p>{{ post.body | raw }} </p>

                            {% if tags is not empty %}
                            <h4>Tags</h4>
                            {% endif %} 
                          
                            {% for tag in tags %}
                        <span>#{{ tag.tags | raw}} </span>
                        {% endfor %}
                            <p><a class="link" href="{{ base_url()}}/edit/{{ post.slug }}">Edit Entry</a></p>
                        </div>
                        
                        
                    </article>
                </div>
            </div>
        </section>
        <section class="entry-comments">
            
            <div class="container">
                {% if comments is not empty %}
                    <h2>Comments</h2>
                    
                  
                        {% for comment in comments %}
                        <div class="comment">
                        <strong>{{ comment.name }}</strong>
                        <time datetime="{{ comment.date }}">{{ comment.date }}</time>
                        <p>{{ comment.body }}</p>
                    </div>
                        {% endfor %}
                  
                    {% endif %}
                    <div class="new-comment">
                        <form method='post'>
                            <input type="hidden" name="csrf_name" value="{{ csrf.csrf_name }}">
                            <input type="hidden" name="csrf_value" value="{{ csrf.csrf_value }}">
                            <input type="hidden" name="date" value="{{ 'now' | date()}}">
                              <label for="name"> Name</label>
                              <input type="text" name="name"><br>
                              <label for="comment">Comment</label>
                              <textarea rows="5" name="comment" required></textarea>
                              <input type="submit" value="Post Comment" class="button">
                        </form>
                    </div>
            </div>
       {% endblock %}