{% extends "base.twig" %}

                {% block content %}
                <div class="entry-list">
                 
                {% for entry in post %}
                <article>
                    <h2><a href="detail/{{entry.slug|raw}}">{{ entry.title|raw }}</a></h2>
                    <time datetime="{{ entry.date }}">{{ entry.date }}</time>
                    <p>
                       
                        
                        {% for tags in entry.tags %}
                            #{{tags.tags | raw}} 
                            {% endfor %}
                  
                    </p>
                </article>
                {% endfor %}
                </div>
                {% endblock %}
           